/* header styles */

.header {
  background-image: url(../images/mae-mu-1APtYqzNajA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 34px;
  height: 800px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1352px;
  margin: 0 auto;
}
.menu-bar {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header-nav ul {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header-nav a {
  color: white;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
}
.contact-btn a {
  color: black;
  font-family: "Fraunces";
  font-variation-settings: 9pt Soft;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.11px;
  padding: 16px 30px;
  background-color: white;
  border-radius: 28px;
}
.contact-btn a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}
.header-title {
  margin: 105px auto 0;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 96.54px;
  align-items: center;
}
.main-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 56px;
  font-variation-settings: soft 9pt;
  color: white;
  letter-spacing: 8.75px;
  line-height: 100%;
}
.arrow {
  font-size: 150px;
  color: white;
}

/* section styles */
.container {
  width: 1440px;
  display: flex;
  column-gap: 110px;
  margin: 0 auto;
  align-items: center;
}
.container-text {
  max-width: 445px;
  margin-left: 165px;
}
.container-text h2 {
  font-family: "Fraunces";
  font-variation-settings: 9pt soft;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.29px;
  color: #24303e;
}
.container-text p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: -0.13px;
  color: #808397;
  margin-top: 32px;
  margin-bottom: 40px;
}
.btn-yell,
.btn-orange {
  font-family: "Fraunces";
  font-variation-settings: soft 9pt;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #24303e;
  position: relative;
}
.btn-yell::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 15px;
  width: 110%;
  height: 10px;
  background: #fad400;
  border-radius: 28px;
  opacity: 25%;
  z-index: -1;
}
.btn-yell:hover::before {
  opacity: 1;
}
.text-2 {
  margin-left: 0;
}
.btn-orange::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 15px;
  width: 110%;
  height: 10px;
  background: #fe7766;
  border-radius: 28px;
  opacity: 25%;
  z-index: -1;
}
.btn-orange:hover::before {
  opacity: 1;
}
.container-1-img img {
    width: 100%;
  }

.container-back {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.container-part {
  height: 600px;
  width: 720px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 27px;
  text-align: center;
  background-position: center;
}
.part-1 {
  background-image: url(../images/mae-mu-vbAEHCrvXZ0-unsplash.jpg);
}
.part-2 {
  background-image: url(../images/mae-mu-U1iYwZ8Dx7k-unsplash.jpg);
}
.container-part h2 {
  font-family: "Fraunces";
  font-variation-settings: soft 9pt;
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: #24554a;
}
.container-part p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.11px;
  color: #3e7467;
  max-width: 339px;
  margin-bottom: 59px;
}

/* testimonials style */
.testimonials {
  padding: 160px 0;
}
.testimonials-container {
  max-width: 1310px;
  margin: 0 auto;
}
.test-title {
  font-family: "Fraunces";
  font-variation-settings: 9pt Soft;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5px;
  text-align: center;
  color: #a7aaad;
  margin-bottom: 80px;
}
.users {
  display: flex;
  gap: 30px;
}
.user {
  text-align: center;
}
.user-text p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.13px;
  margin: 58px 0 49px;
  color: #5b636d;
}
.user-name {
  font-family: "Fraunces";
  font-variation-settings: 9pt Soft;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.13px;
  color: #24303e;
  margin-bottom: 9px;
}
.user-pos {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #a7aaad;
}

.img-section {
  display: flex;
  gap: 0;
  max-width: 1440px;
  margin: 0 auto;
}

/* footer styles */

footer {
  background-color: #90d4c6;
  width: 100%;
  padding: 72px 0;
}
.footer-container {
  max-width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer-nav {
  display: flex;
  gap: 57px;
  margin: 40px 0 88px;
}
.footer-nav a {
  color: #458d7e;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
}
.footer-nav a:hover {
  color: white;
}
.social-icons {
  display: flex;
  gap: 28px;
}

.burger {
  display: none;
}

