/* header styles */

.header {
  background-image: url(../images/mae-mu-1APtYqzNajA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1352px;
  padding-top: 34px;
  margin: 0 auto;
}
.menu-bar {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header-nav ul {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header-nav a {
  color: white;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
}
.contact-btn a {
  color: black;
  font-family: Fraunces 9pt Soft;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.11px;

  padding: 16px 30px;
  background-color: white;
  border-radius: 28px;
}
.header-title {
  margin: 105px auto 0;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 96.54px;
  align-items: center;
}
.main-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 56px;
  font-variation-settings: soft 9pt;
  color: white;
  letter-spacing: 8.75px;
  line-height: 100%;
}
.arrow {
  font-size: 107.5px;
  color: white;
}

/* section 1 styles */
.container-1 {
    width: 1440px;
  display: flex;
  gap: 110px;
  margin: 0 auto;
  align-items: center;
}
.container-1-text {
    max-width: 445px;
    margin-left: 165px;
}
.container-1-text h2 {
  font-family: "Fraunces";
  font-variation-settings: soft 9pt;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.29px;
  color: #24303e;
}
.container-1-text p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: -0.13px;
  color: #808397;
  margin-top: 32px;
  margin-bottom: 40px;
}
.container-1-text a {
  font-family: "Fraunces";
  font-variation-settings: soft 9pt;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #24303e;
  position: relative;
}
.container-1-text a::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 15px;
  width: 110%;
  height: 10px;
  background: #FAD400;
  border-radius: 28px;
  opacity: 25%;
  z-index: -1;
}
